{% extends 'base.html' %}

{% block header %}
<script src="{{ url_for('static', filename='jsoneditor.min.js') }}"></script>
<script src="{{ url_for('static', filename='json-editor-custom-theme.js') }}"></script>
{% endblock %}

{% from 'bootstrap/form.html' import render_field %}
{% block content %}
<h3>
{% if server %}
  Edit
  <small class="text-muted">{{server.name}}</small>
  {% else %}
  Create Server
  {% endif %}
</h3>

<form method="post">
  <div class="row">
    <div class="col-sm-6">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    </div>
  </div>
  <div class="row">
    <div class="col">
        <label class="form-control-label">Config Form</label>
      <div class="card" >
        <div class="card-body" id='editor_holder'></div>
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          {{ render_field(form.config_string) }}
          <button type="button" class="btn btn-secondary" id="update-form-button">Update Form</button>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
            <div class="card" >
              <div class="card-body">
                <div class="row">
                    <div class="col">{{ render_field(form.auto_start) }}</div>
                    <div class="col text-right">
                      <input class="btn btn-primary" type="submit" value="{% if server -%}Save{%- else -%}Create{%- endif %}">
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='vendor/bootstrap3-typeahead.min.js') }}"></script>
<script>
$( document ).ready(function() {
  const interfaces = [
    "0.0.0.0",
    // {% for key in interfaces %}
    "{{interfaces[key]|safe}}",
    // {% endfor %}
  ];
  const files = [
    // {% for file in files %}
    "{{file|safe}}",
    // {% endfor %}
  ];

  function init_typeahead(selector, suggestions)
  {
    $(selector).each((_, element) => {
      $(element).attr("data-provide", "typeahead");
      $(element).attr("autocomplete", "off");
      $(element).addClass("typeahead");
      $(element).typeahead({ source:suggestions, afterSelect: function (item) {
        // Does this look funny to you? I bet you want to know why this is
        // needed. Go ahead - just know it will cost you exactly one unit of
        // sanity.
        var name = $(element).attr('name');
        var key = name.split('][').join('.').replace('[', '.').replace(']', '');
        editor.getEditor(key).setValue("");
        editor.getEditor(key).setValue(item);
      }});
    });
  }

  function jsonFormat(elem)
  {
    try {
        elem.val(JSON.stringify(JSON.parse(elem.val()), null, 2));
    } catch (e) {
        console.log(e)
    }
  }
  function trimTextArea(elem)
  {
    elem.style.height = "5px";
    elem.style.height = (elem.scrollHeight + 2)+"px";
  }

  let configTextArea = document.getElementById('config-text-area');
  let editor = undefined;

  const editor_changed = function() {
    init_typeahead('input[name*="file"]', files);
    init_typeahead('input[name*="interface"]', interfaces);

    configTextArea.value = JSON.stringify(editor.getValue());
    jsonFormat($("#config-text-area"));
    trimTextArea(configTextArea);
  };

  (function() {
    fetch("{{ url_for('static', filename='config_schema.json') }}")
    .then(res => res.json())
    .then((out) => {
      JSONEditor.defaults.resolvers.unshift(function(schema) {
        if(schema.type === "string" && schema.readOnly) {
          return "hidden"
        }
      });
      // Initialize the editor with a JSON schema
      editor = new JSONEditor(document.getElementById('editor_holder'),{
        schema: out,
        theme: 'custom',
        compact: true,
        disable_array_reorder: true,
        enable_array_copy: false,
        disable_collapse: true,
        disable_edit_json: true,
        disable_properties: true,
        no_additional_properties: true,
        keep_oneof_values: false,
        prompt_before_delete: false,
        disable_array_delete_last_row: true,
        disable_array_delete_all_rows: true,
        iconlib: "fontawesome4",
      });
      editor.on('change', editor_changed);
      editor.on('ready', function(){
        editor.setValue(JSON.parse(configTextArea.value));
      });
    })
    .catch(err => { throw err });
  })();

  trimTextArea(configTextArea)
  configTextArea.onkeyup = function(){
      trimTextArea(this)
  }

  jsonFormat($("#config-text-area"));

  $("#config-text-area").bind('paste', function(e) {
      var elem = $(this);
      setTimeout(function() {
          jsonFormat(elem);
      }, 100);
  });
  $('#update-form-button').click(function(e) {
    editor.setValue(JSON.parse(configTextArea.value));
  });
});
</script>

{% endblock %}